{% paginate collection.products by 20 %}

  {%- if collection.image -%}

    {%- assign hero_img = collection.image -%}

    <div class="hero hero--md bg-gray-200">
      <img
        data-src="{{ hero_img | img_url: '360x' }}"
        data-srcset="{{ hero_img | img_url: '720x' }} 720w, {{ hero_img | img_url: '1260x' }} 1260w, {{ hero_img | img_url: '1600x' }} 1600w, {{ hero_img | img_url: '2400x' }} 2400w"
        data-sizes="auto"
        data-src="{{ hero_img | img_url: '600x', scale: 2 }}"
        alt="{{ hero_img.alt | escape }}"
        class="lazyload hero__image">
        <div class="hero__title">
          <h1 class="hero__title m-0">{{ collection.title }}</h1>
        </div>
    </div>
    {%- if collection.description != blank -%}
      <div class="text-center py-12 mb-16 bg-gray-100 border-b">
        <div class="prose">
          {{ collection.description }}
        </div>
      </div>
    {%- endif -%}

  {%- else -%}

    <div class="text-center pt-16 pb-20">
      <div class="prose">
        <h1 class="m-0">{{ collection.title }}</h1>
        {%- if collection.description != blank -%}
        <div class="mt-8">
          {{ collection.description }}
        </div>
        {%- endif -%}
      </div>
    </div>

  {%- endif -%}

  <section class="container">
    <div class="grid grid-cols-2 tablet:grid-cols-3 desktop:grid-cols-4 widescreen:grid-cols-5 gap-8">
      {% for product in collection.products -%}
        {% render 'product-list-item' with
          product: product,
          collection: collection,
          interactive: settings.enable_ajax
        %}
      {%- else -%}
        <div>
          <p>no matches</p>
        </div>
      {%- endfor %}
    </div>
  </section>

  {% if paginate.pages > 1 -%}
    <div class="m-8 text-center">
      {{ paginate | default_pagination }}
    </div>
  {%- endif %}

{% endpaginate %}
