{% layout 'password' %}
{%- liquid
  assign login_enabled = settings.enable_password_login | default: false
  assign login_form_id = 'PasswordLoginForm'

  assign modal_title = 'general.password_page.login_form_heading' | t
  assign modal_message = settings.password_modal_message
  assign modal_id = 'login-modal'
-%}

{% if login_enabled -%}
  {%- style %}
    #login-modal {
      --cn-modal-bg:  {{ settings.color_password_modal -}};
      --cn-modal-text:  {{ settings.color_password_modal_text -}};
      --cn-modal-overlay: {{ settings.color_password_modal_overlay -}};
      --cn-modal-overlay--rgb: {{ settings.color_password_modal_overlay | color_to_rgb | remove: 'rgb(' | remove: ')' -}};
      --cn-modal-overlay: {{ settings.opacity_password_modal_overlay | times: 0.01 -}};

    }
  {% endstyle -%}
{%- endif %}

{% section 'password-content' %}

<aside class="password-banner" role="banner">
  <div class="container">
    <div class="columns desktop:h-between m-0">
      <div class="column v-center desktop:narrow">
        <h6><strong>© {{ shop.name }} {{ 'now' | date: "%Y" }}</strong></h6>
      </div>
      {% if login_enabled -%}
        <div class="column desktop:h-end text-center">
          <button class="btn is-black"
            data-modal-open="login-modal"
            aria-haspopup="dialog"
          >
            <span>{{ 'general.password_page.password_link' | t }}</span>
            <i class="icon material-icons-outlined">arrow_right_alt</i>
          </button>
        </div>
      {%- endif %}
    </div>
  </div>
</aside>

{% if login_enabled %}
  {%- capture login_modal_content -%}
    {% if modal_message -%}
      <div class="prose mb-4">
        {{ modal_message }}
      </div>
    {%- endif %}
    {%- form 'storefront_password', class: 'form password-login-form' -%}
      <div class="field has-addons {% if form.errors %}field--error{% endif %}">
        <div class="control expanded">
          <label id="password-label" for="Password" class="hidden">
            {{ 'general.password_page.login_form_password_label' | t }}
          </label>
          <input type="password" name="password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            id="Password"
            class="input {% if form.errors -%}is-error{%- else -%}is-primary{%- endif -%}"
            autocomplete="off"
            aria-labelledby="password-label"
            {% if form.errors %}
              aria-describedby="{{- login_form_id -}}-password-error"
              aria-invalid="true"
              data-error="password"
            {%- endif -%}
          >
        </div>
        <div class="control">
          <button type="submit" name="commit" class="btn is-primary">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
      {%- if form.errors -%}
        <span id="{{ login_form_id }}-password-error" class="help is-error">
          <i class="icon material-icons-outlined"
            aria-label="{{- 'general.accessibility.error' | t -}}"
          >error</i>
          {{ form.errors.messages['form'] }}
        </span>
      {%- endif -%}
    {%- endform -%}
  {%- endcapture %}

  {%- capture login_modal_footer -%}
    <p class="m-0 text-center">{{ 'general.password_page.admin_link_html' | t }}</p>
  {%- endcapture -%}

  {% render 'modal' with 
    id: modal_id,
    title: modal_title,
    content: login_modal_content,
    footer: login_modal_footer
  %}
{%- endif %}
