{% liquid 
  assign bg_image = settings.user_pages__login_bg_image

  assign form_id = 'activation-form'
  assign manual_fields = 'password,password_confirmation' | split ','
-%}

<section class="customer-section activation-section">
  {% if bg_image -%}
    <div class="overlay background lazyload lazypreload js-enabled"
      data-bg="{{ bg_image | img_url: '640x480' }}"
      data-bgset="{% render 'bgset', image: bg_image %}"
      data-sizes="auto"
      data-parent-fit="cover"
      data-loading-animation
    >
    </div>
    <noscript>
      <div class="overlay background"
        style="background-image: url('{{- bg_image | img_url: '1920x' -}}');"
        {% unless bg_image.alt == blank %}
          aria-label="{{- bg_image.alt | escape -}}"
          role="img"
        {% endunless %}
      ></div>
    </noscript>
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg overlay background' }}
  {%- endif %}
    
  <div class="tablet:container">
    <div class="columns h-center">
      <div class="column cols-8 desktop:cols-6 widescreen:cols-4">
        {% form 'activate_customer_password', id: form_id,
          class: 'form card activation-card'
        %}

          <header class="card-header" text-left>
            <h1 class="h3 title">
              {{- 'customer.activate_account.title' | t -}}
            </h1>
            <p class="subtitle">
              {{- 'customer.activate_account.subtext' | t -}}
            </p>
          </header>

          <section class="card-content">
            {% if form.errors -%}
              <div class="notification is-error is-light">
                <p class="title h5">{{- 'customer.activate_account.error' | t -}}</p>
                {%- assign errors = form.errors | concat: manual_fields | uniq -%}
                {% if errors.size > 2 -%}
                  <div class="errors">
                    <ul class="list">
                    {% for error in form.errors %}
                      {%- case error -%}
                        {%- when 'password' -%}
                        {%- when 'password_confirmation' -%}
                        {%- else -%}
                          <li>
                            {{- form.errors.translated_fields[error] | capitalize }} 
                            {{ form.errors.messages[error] -}}
                          </li>
                      {%- endcase -%}
                    {%- endfor %}
                    </ul>
                  </div>
                {%- endif %}
              </div>
            {%- endif %}
    
            <div class="field">
              {% liquid 
                if form.errors contains 'password'
                  assign password_error = true
                endif
              -%}
              <div class="control">
                <label for="{{- form_id -}}-password" class="label">
                  {{- 'customer.activate_account.password' | t -}}
                </label>
                <input type="password" name="customer[password]"
                  placeholder="{{- 'customer.activate_account.password' | t -}}"
                  value=""
                  id="{{- form_id -}}-password"
                  class="input {% if password_error -%}is-error{%- endif -%}"
                  autocomplete="off"
                  minlength="8"
                  aria-required="true"
                  required
                  {% if email_error -%}
                    aria-describedby="{{- form_id -}}-password-error"
                    aria-invalid="true"
                  {%- endif %}
                >
                {% if password_error -%}
                  <p id="{{- form_id -}}-password-error" class="help is-error">
                    <i class="icon material-icons-outlined" 
                      aria-label="{{- 'general.accessibility.error' | t -}}"
                    >error</i>
                    <span>
                      {{- form.errors.translated_fields['password'] | capitalize }} 
                      {{ form.errors.messages['password'] -}}
                    </span>
                  </p>
                {%- endif %}
              </div>
            </div>

            <div class="field">
              {% liquid 
                if form.errors contains 'password_confirmation'
                  assign password_confirmation_error = true
                endif
              -%}
              <div class="control">
                <label for="{{- form_id -}}-password-confirmation" class="label">
                  {{- 'customer.activate_account.password_confirm' | t -}}
                </label>
                <input type="password" name="customer[password_confirmation]"
                  placeholder="{{- 'customer.activate_account.password_confirm' | t -}}"
                  value=""
                  id="{{- form_id -}}-password-confirmation"
                  class="input {% if password_confirmation_error -%}is-error{%- endif -%}"
                  autocomplete="off"
                  aria-required="true"
                  required
                  {% if email_error -%}
                    aria-describedby="{{- form_id -}}-password-confirmation-error"
                    aria-invalid="true"
                  {%- endif %}
                >
                {% if password_confirmation_error -%}
                  <p id="{{- form_id -}}-password-confirmation-error" class="help is-error">
                    <i class="icon material-icons-outlined" 
                      aria-label="{{- 'general.accessibility.error' | t -}}"
                    >error</i>
                    <span>
                      {{- form.errors.translated_fields['password_confirmation'] | capitalize }} 
                      {{ form.errors.messages['password_confirmation'] -}}
                    </span>
                  </p>
                {%- endif %}
              </div>
            </div>

            <div class="field mb-0">
              <div class="control">
                <input type="submit"
                  value="{{- 'customer.activate_account.submit' | t -}}"
                  class="btn is-primary full"
                >
              </div>
            </div>
            
            <div class="field">
              <div class="control">
                <input type="submit" name="decline"
                  value="{{- 'customer.activate_account.cancel' | t -}}"
                  class="btn is-ghost full" 
                >
              </div>
            </div>
          </section>

        {% endform %}
      </div>
    </div>
  </div>
</section>
