{% liquid
  assign id = section.settings.html_id | default: section.id | handleize
  assign lazyload = section.settings.lazyload

  assign width = section.settings.width
  assign height = section.settings.height

  assign horizontal_layout = section.settings.horizontal_position
  assign vertical_layout = section.settings.vertical_position

  assign hero_bg = section.settings.bg
  assign hero_image = section.settings.bg_image
  assign hero_bg_size = section.settings.bg_size
  assign hero_bg_blend = section.settings.bg_blend
  assign hero_bg_opacity = section.settings.bg_opacity | divided_by: 100.0
  assign hero_bg_alignment = section.settings.bg_alignment

  assign hero_medium = 300

  case height
    when "h-medium"
      assign hero_height = 300
    when "h-xsmall"
      assign hero_height = hero_medium | times: 0.3333333 | floor
    when "h-small"
    when "h-large"
      assign hero_height = hero_medium | times: 1.3333333 | floor
    when "h-xlarge"
      assign hero_height = hero_medium | times: 1.6666667 | floor
  endcase
-%}

{% style %}
  #section-hero-{{- id }} {
    background-color: {{ hero_bg -}};
  }

  {% if hero_image -%}
    #section-hero-{{- id }} .hero-background {
      background-position: {{ hero_bg_alignment -}};
      mix-blend-mode: {{ hero_bg_blend -}};

      opacity: {{ hero_bg_opacity -}};
    }
  {%- endif %}

  
  {% if tablet_height -%}
    @media (min-width: 768px){
      #section-hero-{{ id }} {
        max-height: {{- tablet_height -}}px;
      }
    }
  {%- elsif grow_tablet -%}
    @media (min-width: 768px) and (max-width: 1007px){
      #section-hero-{{ id }} {
        height: auto;
        max-height: {{- hero_height | times: hero_tablet_ratio | times: 2 | round -}}px;
      }
    }
  {%- endif %}

  {% if desktop_height -%}
    @media (min-width: 1008px){
      #section-hero-{{ id }} {
        max-height: {{- desktop_height -}}px;
      }
    }
  {%- elsif grow_desktop -%}
    @media (min-width: 768px){
      #section-hero-{{ id }} {
        height: auto;
        max-height: {{- hero_height | times: hero_desktop_ratio | times: 2 | round -}}px;
      }
    }
  {%- endif %}
{% endstyle %}

<div id="section-hero-{{ id -}}"
  class="section-hero hero {{ height }} {{ width }} {{ section.settings.classes }}"
  data-section-id="{{- id -}}"
  data-section-type="hero"
>
  {% if hero_image -%}
    <div class="hero-background lazyload {% unless lazy -%}lazypreload{%- endunless %} js"
      data-bg="{{- hero_image | img_url: '16x9' -}}"
      data-bgset="{% render 'bgset', image: hero_image %}"
      data-sizes="auto"
      data-parent-fit="{{- hero_bg_size -}}"
      {% unless hero_image.alt == blank -%}
        aria-label="{{- hero_image.alt | escape -}}"
        role="img"
      {%- endunless %}
    ></div>
    <noscript>
      <div class="hero-background"
        style="background-image: url('{{- hero_image | img_url: '1920x' -}}');"
        {% unless hero_image.alt == blank %}
          aria-label="{{- hero_image.alt | escape -}}"
          role="img"
        {% endunless %}
      ></div>
    </noscript>
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg hero-background' }}
  {%- endif %}

    <div class="hero-body">
      <div class="columns {{ horizontal_layout }} {{ vertical_layout }}">
        <div class="column narrow">
          {%- if section.settings.title != blank -%}
            <h1 class="m-0 text-4xl md:text-5xl">{{ section.settings.title | escape }}</h1>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            {{ section.settings.text }}
          {%- endif -%}
          {%- if section.settings.button_label != blank -%}
            <div class="mt-8"><a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_label }}</a></div>
          {%- endif -%}
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Color"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": "Image size",
      "default": "cover",
      "options": [
        {
        "value": "cover",
        "label": "Cover (default)"
        },
        {
        "value": "contain",
        "label": "Contain"
        },
        {
        "value": "auto",
        "label": "Auto"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_blend",
      "label": "Image blend mode",
      "default": "normal",
      "options": [
        {
        "value": "normal",
        "label": "Normal (default)"
        },
        {
        "value": "multiply",
        "label": "Multiply"
        },
        {
        "value": "screen",
        "label": "Screen"
        },
        {
        "value": "overlay",
        "label": "Overlay"
        },
        {
        "value": "darken",
        "label": "Darken"
        },
        {
        "value": "lighten",
        "label": "Lighten"
        },
        {
        "value": "color-dodge",
        "label": "Color-Dodge"
        },
        {
        "value": "color-burn",
        "label": "Color-Burn"
        },
        {
        "value": "hard-light",
        "label": "Hard-Light"
        },
        {
        "value": "soft-light",
        "label": "Soft-Light"
        },
        {
        "value": "difference",
        "label": "Difference"
        },
        {
        "value": "exclusion",
        "label": "Exclusion"
        },
        {
        "value": "hue",
        "label": "Hue"
        },
        {
        "value": "saturation",
        "label": "Saturation"
        },
        {
        "value": "color",
        "label": "Color"
        },
        {
        "value": "luminosity",
        "label": "Luminosity"
        }
      ]
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Image opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "",
      "options": [
        {
          "label": "Full width (default)",
          "value": ""
        },
        {
          "label": "Fixed width",
          "value": "fixed"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "default": "medium",
      "options": [
        {
          "label": "Adapt to content",
          "value": "adapt"
        },
        {
          "label": "Extra Small",
          "value": "xsmall"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium (default)",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra Large",
          "value": "xlarge"
        },
        {
          "label": "Full screen",
          "value": "full"
        }
      ]
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "Horizontal Alignment",
      "default": "h-center",
      "options": [
        {
          "label": "Start",
          "value": "h-start"
        },
        {
          "label": "Middle",
          "value": "h-center"
        },
        {
          "label": "End",
          "value": "h-end"
        },
        {
          "label": "Space Between",
          "value": "h-between"
        },
        {
          "label": "Space Around",
          "value": "h-around"
        }
      ]
    },
    {
      "type": "select",
      "id": "vertical_position",
      "label": "Vertical Alignment",
      "default": "v-center",
      "options": [
        {
          "label": "Start",
          "value": "v-start"
        },
        {
          "label": "Middle",
          "value": "v-center"
        },
        {
          "label": "End",
          "value": "v-end"
        },
        {
          "label": "Stretch",
          "value": "v-stretch"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "html_id",
      "label": "Element Id"
    },
    {
      "type": "text",
      "id": "html_classes",
      "label": "Element Classes"
    },
    {
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload Section",
      "default": true,
      "info": "Delay loading this section?"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Image"
    }
  ]
}
{% endschema %}