{%- comment -%} http://www.shopify.com/admin/online_store/preferences {%- endcomment -%}
{% liquid
  assign hero_image = section.settings.bg_image
  assign hero_image_size = section.settings.bg_size

  assign social_networks = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' '
  
  assign social_icons = false
  for social in social_networks
    assign property = social | downcase | prepend: 'social_' | append: '_link'
    if settings[property] != blank
      assign social_icons = section.settings.show_social_accounts_icons
    endif
  endfor
-%}

{%- style %}
  #{{- section.id }} {
    --cn-password-bg: {{ section.settings.bg -}};
    --cn-password-bg--rgb: {{ section.settings.bg | color_to_rgb | remove: 'rgb(' | remove: ')' -}};
    --cn-password-bg-align: {{ section.settings.bg_alignment -}};
    --cn-password-bg-blend: {{ section.settings.bg_blend -}};
    --cn-password-bg-opacity: {{ section.settings.bg_opacity | divided_by: 100.0 -}};
    --cn-password-bg-repeat: {{ section.settings.bg_repeat -}};
    --cn-password-bg-size: {{ section.settings.bg_size -}};
    --cn-password-text: {{ section.settings.color -}};

    --cn-password-logo-w: {{ section.settings.logo_max_width -}};

    --cn-password-social-icon: {{ section.settings.social_accounts_icon_color -}};
    --cn-password-share-icon: {{ section.settings.social_share_icon_color -}};
  }
{%- endstyle %}

<div id="{{- section.id -}}" class="password-content"
  data-section-type="password-content" 
  data-section-id="{{- section.id -}}"
>
  {% if hero_image -%}
    <div class="background overlay lazyload {% unless lazy -%}lazypreload{%- endunless %} js-enabled"
      data-bg="{{- hero_image | img_url: '16x9' -}}"
      data-bgset="{% render 'bgset', image: hero_image %}"
      data-sizes="auto"
      data-parent-fit="{{- hero_image_size -}}"
      data-loading-animation
      {% unless hero_image.alt == blank -%}
        aria-label="{{- hero_image.alt | escape -}}"
        role="img"
      {%- endunless %}
    ></div>
    <noscript>
      <div class="background overlay"
        style="background-image: url('{{- hero_image | img_url: '1920x' -}}');"
        {% unless hero_image.alt == blank %}
          aria-label="{{- hero_image.alt | escape -}}"
          role="img"
        {% endunless %}
      ></div>
    </noscript>
  {%- else -%}
    <div class="background overlay"></div>
  {%- endif %}
    
  <div class="container">
    <div class="columns centered multiline">
      <div class="column three-quarters desktop:half">
        <div class="password-header">
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name -%}
            {%- assign logo_size = section.settings.logo_max_width | append: 'x' -%}
            <a href="{{ routes.root_url }}" itemprop="url" class="logo" data-loading-animation>
              <div class="lazy-image-wrapper js-enabled"
                style="max-width: {{ section.settings.logo_max_width -}}px;"
              >
                <figure class="lazy-image-offset"
                  style="padding-top: {{ 1 | divided_by: section.settings.logo.aspect_ratio | times: 100 }}%;"
                >
                  <img id="{{ img_id }}"
                    class="lazy-image lazyload lazypreload"
                    src="{{ section.settings.logo | img_url: logo_size }}"
                    alt="{{ logo_alt }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                    data-sizes="auto"
                    itemprop="logo"
                  >
                </figure>
              </div>
              <noscript>
                <img src="{{ section.settings.logo | img_url: logo_size }}"
                    srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x"
                    alt="{{ logo_alt }}"
                    itemprop="logo"
                    style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
          {% else %}
            <h1 class="logo">
              {% comment %} {% render 'brand-logo-vertical.liquid' %} {% endcomment %}
              <span class="sr-only">{{ shop.name }}</span>
            </h1>
          {% endif %}

          {% unless section.settings.header == blank -%}
            <h2 class="h{{- section.settings.header_level }} title">
              {{- section.settings.header | escape | replace: '&amp;', '&' -}}
            </h2>
          {%- endunless %}
        </div>
      </div>

      <div class="column three-quarters desktop:cols-5 widescreen:one-third desktop:offset-1 widescreen:offset-2 text-left">
        {% unless shop.password_message == blank %}
          <div class="password-message">
            {{ shop.password_message }}
          </div>
        {% endunless %}
      
      
        {% if section.settings.newsletter_enable -%}
          <div class="password-content-newsletter">
            <h3 class="title h{{- section.settings.newsletter_form_heading_level -}}">
              {{ section.settings.newsletter_form_heading | escape | replace: '&amp;', '&' }}
            </h3>
            {% unless section.settings.newsletter_form_subheading == blank -%}
              <div class="prose my-4">{{ section.settings.newsletter_form_subheading | replace: '&amp;', '&' }}</div>
            {%- endunless %}
            {% form 'customer', id: 'newsletter-form',
              class: 'form mb-5 password-contact-form'
            %}
              {%- assign formId = 'PasswordNewsletterForm' -%}
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <label for="{{ formId }}-email" class="label d-none">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        
              {% if form.posted_successfully? -%}
                <p class="notification notification--success" tabindex="-1" data-form-status>
                  {{ 'general.password_page.signup_form_success' | t }}
                </p>
              {%- endif %}
        
              <div class="field has-addons {% if form.errors -%}has-error{%- endif -%}">
                <div class="control expanded">
                  <input
                    type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="input {% if form.errors contains 'email' %} is-error{% endif %}"
                    placeholder="{{ section.settings.newsletter_placeholder | escape }}"
                    {%- if form.errors contains 'email' -%}
                      aria-invalid="true"
                      aria-describedby="{{ formId }}-email-error"
                      data-form-status
                    {%- endif -%}
                  >
                </div>
                <div class="control">
                  <button class="btn {{ section.settings.newsletter_button_size }} {{ section.settings.newsletter_button_style -}}"
                    type="submit" 
                    name="commit"
                  >
                    {{ section.settings.newsletter_button_text | escape | replace: '&amp;', '&' }}
                  </button>
                </div>
                {% if form.errors contains 'email' -%}
                  <span id="{{- formId -}}-email-error" class="help is-danger">
                    <i class="icon material-icons-outlined"
                     aria-label="{{- 'general.accessibility.error' | t -}}"
                    >error</i>
                    <span>
                      {{- form.errors.translated_fields['email'] | capitalize }}&nbsp;
                      {{ form.errors.messages['email'] -}}.</span>
                  </span>
                {%- endif %}
              </div>
            {%- endform %}
          </div>
        {%- endif %}
        {% if section.settings.show_social_accounts_icons and social_icons -%}
          <div class="password-social-accounts">
            {% if section.settings.social_accounts_message != blank -%}
              <h2 class="title h3">
                {{ section.settings.social_accounts_message | escape }}
              </h2>
            {%- endif %}
            <ul class="list row social-icons">
            {%- for network in social_networks -%}
              {%- assign social_link = network | prepend: 'social_' | append: '_link' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icon">
                  <a class="social-link" target="_blank"
                    href="{{- settings[social_link] | escape -}}"
                  >
                    <svg class="icon svg-icon sz-{{- section.settings.social_accounts_icon_size -}}" viewBox="0 0 32 32">
                      <use xlink:href="#{{- network | downcase -}}" />
                    </svg>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Content",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Colours"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text",
      "default": "#3b3b3b"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": "Image Size",
      "default": "cover",
      "options": [
        {
        "value": "cover",
        "label": "Cover (default)"
        },
        {
        "value": "contain",
        "label": "Contain"
        },
        {
        "value": "",
        "label": "Auto"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_alignment",
      "label": "Image Alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "top left",
          "label": "Top Left"
        },
        {
          "value": "top center",
          "label": "Top"
        },
        {
          "value": "top right",
          "label": "Top Right"
        },
        {
          "value": "center right",
          "label": "Right"
        },
        {
          "value": "bottom right",
          "label": "Bottom Right"
        },
        {
          "value": "bottom center",
          "label": "Bottom"
        },
        {
          "value": "bottom left",
          "label": "Bottom Left"
        },
        {
          "value": "center left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_repeat",
      "label": "Image Repeat",
      "default": "no-repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "No Repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat Horizontally"
        },
        {
          "value": "repeat-y",
          "label": "Repeat Vertically"
        },
        {
          "value": "repeat",
          "label": "Repeat Both Axes"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_blend",
      "label": "Image Blend Mode",
      "default": "normal",
      "options": [
        {
          "value": "normal",
          "label": "Normal (default)"
        },
        {
          "value": "multiply",
          "label": "Multiply"
        },
        {
          "value": "screen",
          "label": "Screen"
        },
        {
          "value": "overlay",
          "label": "Overlay"
        },
        {
          "value": "darken",
          "label": "Darken"
        },
        {
          "value": "lighten",
          "label": "Lighten"
        },
        {
          "value": "color-dodge",
          "label": "Color-Dodge"
        },
        {
          "value": "color-burn",
          "label": "Color-Burn"
        },
        {
          "value": "hard-light",
          "label": "Hard-Light"
        },
        {
          "value": "soft-light",
          "label": "Soft-Light"
        },
        {
          "value": "difference",
          "label": "Difference"
        },
        {
          "value": "exclusion",
          "label": "Exclusion"
        },
        {
          "value": "hue",
          "label": "Hue"
        },
        {
          "value": "saturation",
          "label": "Saturation"
        },
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "luminosity",
          "label": "Luminosity"
        }
      ]
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Image Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "Branding"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Logo Width",
      "min": 50,
      "max": 640,
      "step": 10,
      "unit": "px",
      "default": 240
    },
    {
      "type": "header",
      "content": "Tagline"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "range",
      "id": "header_level",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Heading Level",
      "default": 2
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show Newsletter Signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Heading",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "range",
      "id": "newsletter_form_heading_level",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Heading level",
      "default": 3
    },
    {
      "type": "html",
      "id": "newsletter_form_content",
      "label": "Content",
      "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
    },
    {
      "type": "select",
      "id": "newsletter_button_size",
      "label": "Form Size",
      "default": "",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Field Placeholder Text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Submit Button Text",
      "default": "Notify me"
    },
    {
      "type": "select",
      "id": "newsletter_button_style",
      "label": "Submit Button Style",
      "default": "is-primary",
      "options": [
        {
          "group": "Basic",
          "label": "Link",
          "value": "is-ghost"
        },
        {
          "group": "Basic",
          "label": "Primary (default)",
          "value": "is-primary"
        },
        {
          "group": "Basic",
          "label": "Accent",
          "value": "is-accent"
        },
        {
          "group": "Basic",
          "label": "Dark",
          "value": "is-black"
        },
        {
          "group": "Basic",
          "label": "Light",
          "value": "is-white"
        },
        {
          "group": "Outlined",
          "label": "Primary",
          "value": "is-primary outlined"
        },
        {
          "group": "Outlined",
          "label": "Accent",
          "value": "is-accent outlined"
        },
        {
          "group": "Outlined",
          "label": "Dark",
          "value": "is-black outlined"
        },
        {
          "group": "Outlined",
          "label": "Light",
          "value": "is-white outlined"
        },
        {
          "group": "Inverted",
          "label": "Primary",
          "value": "is-primary inverted"
        },
        {
          "group": "Inverted",
          "label": "Accent",
          "value": "is-accent inverted"
        },
        {
          "group": "Inverted",
          "label": "Dark",
          "value": "is-black inverted"
        },
        {
          "group": "Inverted",
          "label": "Light",
          "value": "is-white inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Primary",
          "value": "is-primary outlined inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Accent",
          "value": "is-accent outlined inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Dark",
          "value": "is-black outlined inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Light",
          "value": "is-white outlined inverted"
        }
      ]
    },
    {
      "type": "header",
      "content": "Social Media Icons"
    },
    {
      "type": "checkbox",
      "id": "show_social_accounts_icons",
      "label": "Show Social Accounts Icons",
      "default": true
    },
    {
      "type": "color",
      "id": "social_accounts_icon_color",
      "label": "Social Icon Colour",
      "default": "#3b3b3b"
    },
    {
      "type": "range",
      "id": "social_accounts_icon_size",
      "label": "Social Icon Size",
      "default": 24,
      "min": 16,
      "max": 72,
      "step": 8,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "social_accounts_message",
      "label": "Heading",
      "placeholder": "Spread the word"
    },
    {
      "type": "header",
      "content": "Share Buttons"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show Sharing Buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_share_message",
      "label": "Heading",
      "default": "Spread the word"
    },
    {
      "type": "select",
      "id": "social_share_button_style",
      "label": "Share Button Style",
      "default": "icon-text",
      "options": [
        {
          "label": "Icon + Text",
          "value": "icon-text"
        },
        {
          "label": "Icon Only",
          "value": "icon-only"
        }
      ]
    }
  ]
}
{% endschema %}
