{%- liquid
  assign login_enabled = section.settings.enable_password_login
  assign login_form_id = 'password-login-form'

  assign modal_id = 'login-modal'
  assign modal_title = section.settings.modal_title
  assign modal_message = section.settings.modal_message
  
  if modal_title == blank
    assign modal_title = 'general.password_page.login_form_heading' | t
  endif
-%}

{% if login_enabled -%}
  {%- style %}
    #{{- modal_id }} {
      --cn-modal-bg:  {{ section.settings.bg -}};
      --cn-modal-text:  {{ section.settings.color -}};
      --cn-modal-overlay: {{ section.settings.overlay_bg -}};
      --cn-modal-overlay--rgb: {{ section.settings.overlay_bg | color_to_rgb | remove: 'rgb(' | remove: ')' -}};
      --cn-modal-overlay-o: {{ section.settings.overlay_opacity | times: 0.01 -}};
    }
  {% endstyle -%}
{%- endif %}

<div class="password-banner" role="banner">
  <div class="widescreen:container">
    <div class="columns desktop:h-between">
      <div class="column v-center desktop:narrow">
        <h6><strong>© {{ shop.name }} {{ 'now' | date: "%Y" -}}</strong></h6>
      </div>
      {% if login_enabled -%}
        <div class="column desktop:h-end text-center">
          <button class="btn is-black"
            data-modal-open="login-modal"
            aria-haspopup="dialog"
          >
            <span>{{- 'general.password_page.password_link' | t -}}</span>
            &rarr;
          </button>
        </div>
      {%- endif %}
    </div>
  </div>
</div>


{% if login_enabled -%}
  {%- capture login_modal_content -%}
    {% if modal_message -%}
      <div class="prose mb-4">
        {{ modal_message }}
      </div>
    {%- endif %}
    {%- form 'storefront_password', class: 'form password-login-form' -%}
      <div class="field has-addons {% if form.errors %}field--error{% endif %}">
        <div class="control expanded">
          <label id="password-label" for="Password" class="hidden">
            {{ 'general.password_page.login_form_password_label' | t }}
          </label>
          <input type="password" name="password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            id="Password"
            class="input {% if form.errors -%}is-error{%- endif -%}"
            autocomplete="off"
            aria-labelledby="password-label"
            {% if form.errors %}
              aria-describedby="{{- login_form_id -}}-password-error"
              aria-invalid="true"
              data-error="password"
            {%- endif -%}
          >
        </div>
        <div class="control">
          <button type="submit" name="commit" class="btn is-primary">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
      {%- if form.errors -%}
        <span id="{{ login_form_id }}-password-error" class="help is-error">
          <i class="icon material-icons-outlined"
            aria-label="{{- 'general.accessibility.error' | t -}}"
          >error</i>
          {{ form.errors.messages['form'] }}
        </span>
      {%- endif -%}
    {%- endform -%}
  {%- endcapture %}

  {%- capture login_modal_footer -%}
    <p class="m-0 text-center">{{- 'general.password_page.admin_link_html' | t -}}</p>
  {%- endcapture -%}

  {% render 'modal' with 
    id: modal_id,
    title: modal_title,
    content: login_modal_content,
    footer: login_modal_footer
  %}
{%- endif %}

{% schema %}
  {
    "name": "Login Prompt",
    "class": "password-login",
    "tag": "aside",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_password_login",
        "label": "Enable Login Popup",
        "default": false
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Popup Text Colour",
        "default": "#333232"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Popup Colour",
        "default": "#f2f2f2"
      },
      {
        "type": "color",
        "id": "overlay_bg",
        "label": "Backdrop Colour",
        "default": "#f2f2f2"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Backdrop Opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "default": 55
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "modal_title",
        "label": "Popup Title",
        "placeholder": "Enter your password to continue."
      },
      {
        "type": "richtext",
        "id": "modal_message",
        "label": "Popup Message",
        "default": "<p>We're not quote ready to show you everything. If you still need to access the store, please use the password that was provided to you.</p>"
      }
    ]
  }
{% endschema %}