{%- comment -%}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{%- endcomment -%}

{%- liquid
  assign id = section.settings.html_id | default: section.id | handleize

  assign hero_bg = section.settings.bg
  assign hero_image = section.settings.bg_image
  assign hero_bg_size = section.settings.bg_size
  assign hero_bg_blend = section.settings.bg_blend
  assign hero_bg_opacity = section.settings.bg_opacity
  assign hero_bg_alignment = section.settings.bg_alignment

  assign social_networks = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' '
  
  assign social_icons = false
  for social in social_networks
    assign property = social | downcase | prepend: 'social_' | append: '_link'
    if settings[property] != blank
      assign social_icons = section.settings.show_social_accounts_icons
    endif
  endfor
-%}

{%- style %}
  #{{- id }} {
    background-color: {{ hero_bg -}};
  }

  {% assign opacity = hero_bg_opacity | divided_by: 100.0 -%}
  #{{- id }} .password-content-background {
      {% unless hero_image -%}
        background-image: url({{ 'default-pattern.svg' | file_url }});
      {%- endunless %}

      {% unless hero_bg_alignment == blank -%}
        background-position: {{ hero_bg_alignment -}};
      {%- endunless %}

      {% unless hero_bg_size == blank -%}
        background-size: {{ hero_bg_size -}};
      {%- endunless %}

      mix-blend-mode: {{ hero_bg_blend -}};
      opacity: {{ opacity -}};
  }

  #{{- id }} .logo {
    max-width: {{ section.settings.logo_max_width -}}px;
  }

  #{{- id }} .password-content-newsletter {
    color: {{ section.settings.newsletter_form_color -}};
  }

  {% if social_icons -%}
    #{{- id }} .social-link {
      color: {{ section.settings.social_accounts_icon_color -}};
    }
  {%- endif %}
{%- endstyle %}

<div id="{{- id -}}" class="password-content"
  data-section-type="password-content" 
  data-section-id="{{- id -}}"
>
  {% if hero_image -%}
    <div class="password-content-background lazyload {% unless lazy -%}lazypreload{%- endunless %} js-enabled"
      data-bg="{{- hero_image | img_url: '16x9' -}}"
      data-bgset="{% render 'bgset', image: hero_image %}"
      data-sizes="auto"
      data-parent-fit="{{- password-content_bg_size -}}"
      {% unless hero_image.alt == blank -%}
        aria-label="{{- hero_image.alt | escape -}}"
        role="img"
      {%- endunless %}
    ></div>
    <noscript>
      <div class="password-content-background"
        style="background-image: url('{{- hero_image | img_url: '1920x' -}}');"
        {% unless hero_image.alt == blank %}
          aria-label="{{- hero_image.alt | escape -}}"
          role="img"
        {% endunless %}
      ></div>
    </noscript>
  {%- else -%}
    <div class="password-content-background"></div>
  {%- endif %}
    
  <div class="container">
    <div class="columns centered multiline">
      <div class="column three-quarters desktop:half">
        <div class="password-header">
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name -%}
            {%- assign logo_size = section.settings.logo_max_width | append: 'x' -%}
            <a href="{{ routes.root_url }}" itemprop="url" class="logo" data-loading-animation>
              <div class="lazy-image-wrapper js-enabled"
                style="max-width: {{ section.settings.logo_max_width -}}px;"
              >
                <figure class="lazy-image-offset"
                  style="padding-top: {{ 1 | divided_by: section.settings.logo.aspect_ratio | times: 100 }}%;"
                >
                  <img id="{{ img_id }}"
                    class="lazy-image lazyload lazypreload"
                    src="{{ section.settings.logo | img_url: logo_size }}"
                    alt="{{ logo_alt }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                    data-sizes="auto"
                    itemprop="logo"
                  >
                </figure>
              </div>
              <noscript>
                <img src="{{ section.settings.logo | img_url: logo_size }}"
                    srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x"
                    alt="{{ logo_alt }}"
                    itemprop="logo"
                    style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
          {% else %}
            <h1 class="logo">
              {% comment %} {% render 'brand-logo-vertical.liquid' %} {% endcomment %}
              <span class="sr-only">{{ shop.name }}</span>
            </h1>
          {% endif %}

          {% unless section.settings.header == blank -%}
            <h2 class="title h{{- section.settings.header_level -}}">
              {{- section.settings.header | escape | replace: '&amp;', '&' -}}
            </h2>
          {%- endunless %}
        </div>
      </div>

      <div class="column cols-three-qurters desktop:cols-5 widescreen:w-one-third desktop:offset-1 widescreen:offset-2 text-left">
        {% unless shop.password_message == blank %}
          <div class="password-message">
            {{ shop.password_message }}
          </div>
        {% endunless %}
      
      
        {% if section.settings.newsletter_enable -%}
          <div class="password-content-newsletter">
            <h3 class="title h{{- section.settings.newsletter_form_heading_level -}}">
              {{ section.settings.newsletter_form_heading | escape | replace: '&amp;', '&' }}
            </h3>
            {% unless section.settings.newsletter_form_subheading == blank -%}
              <div class="prose my-4">{{ section.settings.newsletter_form_subheading | replace: '&amp;', '&' }}</div>
            {%- endunless %}
            {% form 'customer', id: 'newsletter-form',
              class: 'form mb-5 password-contact-form'
            %}
              {%- assign formId = 'PasswordNewsletterForm' -%}
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <label for="{{ formId }}-email" class="label d-none">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        
              {% if form.posted_successfully? -%}
                <p class="notification notification--success" tabindex="-1" data-form-status>
                  {{ 'general.password_page.signup_form_success' | t }}
                </p>
              {%- endif %}
        
              <div class="field has-addons {% if form.errors -%}has-error{%- endif -%}">
                <div class="control expanded">
                  <input
                    type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="input {% if form.errors contains 'email' %} is-error{% endif %}"
                    placeholder="{{ section.settings.newsletter_placeholder | escape }}"
                    {%- if form.errors contains 'email' -%}
                      aria-invalid="true"
                      aria-describedby="{{ formId }}-email-error"
                      data-form-status
                    {%- endif -%}
                  >
                </div>
                <div class="control">
                  <button class="btn {{ section.settings.newsletter_button_size }} {{ section.settings.newsletter_button_style -}}"
                    type="submit" 
                    name="commit"
                  >
                    {{ section.settings.newsletter_button_text | escape | replace: '&amp;', '&' }}
                  </button>
                </div>
                {% if form.errors contains 'email' -%}
                  <span id="{{ formId }}-email-error" class="help is-danger">
                    <span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
                    <i class="material-icons-outlined">error</i>
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {%- endif %}
              </div>
            {%- endform %}
          </div>
        {%- endif %}
        {% if section.settings.show_social_accounts_icons and social_icons -%}
          <div class="password-social-accounts">
            {% if section.settings.social_accounts_message != blank -%}
              <h2 class="title h3">
                {{ section.settings.social_accounts_message | escape }}
              </h2>
            {%- endif %}
            <ul class="list row social-icons">
            {%- for network in social_networks -%}
              {%- assign social_link = network | prepend: 'social_' | append: '_link' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icon">
                  <a class="social-link" href="{{ settings[social_link] | escape }}" target="_blank">
                    <svg class="icon svg-icon sz-{{- section.settings.social_accounts_icon_size -}}" viewBox="0 0 32 32">
                      <title>{{ network }}</title>
                      <use xlink:href="#{{- network | downcase -}}" />
                    </svg>
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Content",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Color"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": "Image size",
      "default": "cover",
      "options": [
        {
        "value": "cover",
        "label": "Cover (default)"
        },
        {
        "value": "contain",
        "label": "Contain"
        },
        {
        "value": "",
        "label": "Auto"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "",
          "label": "Auto"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_blend",
      "label": "Image blend mode",
      "default": "normal",
      "options": [
        {
        "value": "normal",
        "label": "Normal (default)"
        },
        {
        "value": "multiply",
        "label": "Multiply"
        },
        {
        "value": "screen",
        "label": "Screen"
        },
        {
        "value": "overlay",
        "label": "Overlay"
        },
        {
        "value": "darken",
        "label": "Darken"
        },
        {
        "value": "lighten",
        "label": "Lighten"
        },
        {
        "value": "color-dodge",
        "label": "Color-Dodge"
        },
        {
        "value": "color-burn",
        "label": "Color-Burn"
        },
        {
        "value": "hard-light",
        "label": "Hard-Light"
        },
        {
        "value": "soft-light",
        "label": "Soft-Light"
        },
        {
        "value": "difference",
        "label": "Difference"
        },
        {
        "value": "exclusion",
        "label": "Exclusion"
        },
        {
        "value": "hue",
        "label": "Hue"
        },
        {
        "value": "saturation",
        "label": "Saturation"
        },
        {
        "value": "color",
        "label": "Color"
        },
        {
        "value": "luminosity",
        "label": "Luminosity"
        }
      ]
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "label": "Image opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "Branding"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 640,
      "step": 10,
      "unit": "px",
      "default": 240
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "range",
      "id": "header_level",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Heading level",
      "default": 2
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show Newsletter Signup",
      "default": true
    },
    {
      "type": "color",
      "id": "newsletter_form_color",
      "label": "Text Color",
      "default": "#3b3b3b"
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Heading",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "range",
      "id": "newsletter_form_heading_level",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Heading level",
      "default": 3
    },
    {
      "type": "html",
      "id": "newsletter_form_subheading",
      "label": "Subheading",
      "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Form placeholder text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Form button text",
      "default": "Notify me"
    },
    {
      "type": "select",
      "id": "newsletter_button_size",
      "label": "Form button size",
      "default": "",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "select",
      "id": "newsletter_button_style",
      "label": "Form button style",
      "default": "is-primary",
      "options": [
        {
          "group": "Basic",
          "label": "Text",
          "value": "is-text"
        },
        {
          "group": "Basic",
          "label": "Primary (default)",
          "value": "is-primary"
        },
        {
          "group": "Basic",
          "label": "Accent",
          "value": "is-accent"
        },
        {
          "group": "Basic",
          "label": "Dark",
          "value": "is-dark"
        },
        {
          "group": "Basic",
          "label": "Light",
          "value": "is-light"
        },
        {
          "group": "Outlined",
          "label": "Primary",
          "value": "is-primary outlined"
        },
        {
          "group": "Outlined",
          "label": "Accent",
          "value": "is-accent outlined"
        },
        {
          "group": "Outlined",
          "label": "Dark",
          "value": "is-dark outlined"
        },
        {
          "group": "Outlined",
          "label": "Light",
          "value": "is-light outlined"
        },
        {
          "group": "Inverted",
          "label": "Primary",
          "value": "is-primary inverted"
        },
        {
          "group": "Inverted",
          "label": "Accent",
          "value": "is-accent inverted"
        },
        {
          "group": "Inverted",
          "label": "Dark",
          "value": "is-dark inverted"
        },
        {
          "group": "Inverted",
          "label": "Light",
          "value": "is-light inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Primary",
          "value": "is-primary outlined inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Accent",
          "value": "is-accent outlined inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Dark",
          "value": "is-dark outlined inverted"
        },
        {
          "group": "Outlined & Inverted",
          "label": "Light",
          "value": "is-light outlined inverted"
        }
      ]
    },
    {
      "type": "header",
      "content": "Social Media Icons"
    },
    {
      "type": "checkbox",
      "id": "show_social_accounts_icons",
      "label": "Show Social Media Icons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_accounts_message",
      "label": "Title",
      "placeholder": "Spread the word"
    },
    {
      "type": "range",
      "id": "social_accounts_icon_size",
      "label": "Icon Size",
      "default": 24,
      "min": 16,
      "max": 72,
      "step": 8,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "social_accounts_icon_color",
      "label": "Icon Colour",
      "default": "#3b3b3b"
    },
    {
      "type": "header",
      "content": "Social Media Share Buttons"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_share_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    },
    {
      "type": "select",
      "id": "social_share_button_style",
      "label": "Share button style",
      "default": "icon-text",
      "options": [
        {
          "label": "Icon + Text",
          "value": "icon-text"
        },
        {
          "label": "Icon only",
          "value": "icon-only"
        }
      ]
    }
  ]
}
{% endschema %}
