{% liquid
  assign title = section.settings.title
  if title == blank
    assign title = 'cart.general.title' | t
  endif

  assign title_size = section.settings.title_level
  assign title_align = section.settings.title_align

  assign hero_bg = section.settings.hero_bg
  assign hero_color = section.settings.hero_color
  assign hero_image = section.settings.hero_image
  assign hero_bg_size = section.settings.hero_image_size
  assign hero_bg_blend = section.settings.hero_bg_blend
  assign hero_bg_opacity = section.settings.hero_image_opacity | divided_by: 100.0
  assign hero_bg_alignment = section.settings.hero_image_alignment

  assign cart_notes_enabled = section.settings.cart_notes_enable
  assign cart_ajax_enabled = section.settings.cart_ajax_enable
  unless cart.item_count > 0
    assign cart_is_empty = true
  endunless

  assign taxes_shipping_checkout = 'cart.general.taxes_and_shipping_at_checkout' | t
  if shop.taxes_included and shop.shipping_policy.body != blank
    assign taxes_shipping_checkout = 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
  elsif shop.taxes_included
    assign taxes_shipping_checkout = 'cart.general.taxes_included_but_shipping_at_checkout' | t
  elsif shop.shipping_policy.body != blank
    assign taxes_shipping_checkout = 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
  endif

  if cart.cart_level_discount_applications.size > 0
    assign has_cart_level_discount = true
  endif
-%}

{% style -%}
  .cart-header {
    {% unless hero_color == 'rgba(0, 0, 0, 0)' -%}
      color: {{ hero_color -}};
    {%- endunless %}

    {% unless hero_bg == 'rgba(0, 0, 0, 0)' -%}
      background-color: {{ hero_bg -}};
    {%- endunless %}
  }

  {% if hero_image -%}
    .cart-header .hero-background {
      background-position: {{ hero_bg_alignment -}};
      mix-blend-mode: {{ hero_bg_blend | default: 'normal' -}};
      opacity: {{ hero_bg_opacity -}};
    }
  {%- endif %}
{%- endstyle %}

<div class="section-template-cart"
  data-section-id="shopify-section-{{ section.id }}"
  data-section-type="cart-template"
>
  <header class="hero small">
    {% if hero_image -%}
      <div class="hero-background js-enabled lazyload {% unless lazy -%}lazypreload{%- endunless -%}"
        data-bg="{{- hero_image | img_url: '16x9' -}}"
        data-bgset="{% render 'bgset', image: hero_image %}"
        data-sizes="auto"
        data-parent-fit="{{- hero_bg_size -}}"
        {% unless hero_image.alt == blank -%}
          aria-label="{{- hero_image.alt | escape -}}"
          role="img"
        {%- endunless %}
      ></div>
      <noscript>
        <div class="hero-background"
          style="background-image: url('{{- hero_image | img_url: '1920x' -}}');"
          {% unless hero_image.alt == blank %}
            aria-label="{{- hero_image.alt | escape -}}"
            role="img"
          {% endunless %}
        ></div>
      </noscript>
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg hero-background' }}
    {%- endif %}
    <div class="hero-body">
      <div class="container {{ title_align -}}">
        <h1>{{- title -}}</h1>
        <a class="btn is-black" href="{{- routes.all_products_collection_url -}}">
          {{ 'cart.general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </header>

  <div class="empty-page-content supports-cookies"
    data-empty-page-content
    {% unless cart_is_empty -%}hidden{%- endunless -%}
  >
    <h1 class="title">{{ 'cart.general.title' | t }}</h1>
    <p class="subtitle cart-empty-message">{{ 'cart.general.empty' | t }}</p>
    <div class="cookie-message supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
    <a href="{{ routes.root_url }}" class="btn is-dark supports-cookies">
      <span>{{ 'general.404.link' | t }}</span>
      <i class="material-icons-outlined">arrow_right_alt</i>
    </a>
    {% unless section.settings.empty_image == blank -%}
      {%- assign empty_image = section.settings.empty_image -%}
      {%- assign img_url = empty_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <div class="lazy-image-wrapper"
        style="max-width: {{ empty_image.width -}}px;"
        data-loading-animation
      >
        <figure class="ratio-container js"
          style="padding-bottom: {{ 1 | divided_by: empty_image.aspect_ratio | times: 100 }}%;"
        >
          <img id="{{ img_id }}"
            class="lazy-image cart-empty-image lazyload"
            src="{{ empty_image | img_url: '480x' }}"
            alt="{{ empty_image.alt | escape }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ empty_image.aspect_ratio }}"
            data-sizes="auto"
          >
        </figure>
        <noscript>
        {% capture image_size -%}
          {{ 480 | times: empty_image.aspect_ratio | round }}x{{ 480 }}
        {%- endcapture -%}
        <img class="cart-empty-image" src="{{- empty_image | img_url: image_size, scale: 2 -}}" alt="{{- empty_image.alt -}}" style="max-width: {{ 480 | times: empty_image.aspect_ratio -}}px;">
      </noscript>
      </div>
    {%- endunless %}
  </div>

  <div class="widescreen:container cart" data-cart-wrapper 
    {% if cart_is_empty -%}hidden{%- endif -%}
  >
    <form action="{{ routes.cart_url }}" method="post"
      class="form cart-form columns multiline gapless widescreen:variable-3 fullhd:variable-6"
      novalidate
    >
      <div class="column wide desktop:hidden mobile-checkout">
        <div class="card shadowless cart-actions">
          <div class="card-content">
            <div class="table-container summary-table">
              <table class="table wide is-ghost">
                <tbody>
                  <tr class="summary-row cart-total">
                    <th valign="middle" scope="row">
                      <strong>{{ 'cart.label.total' | t }}</strong>
                    </th>
                    <td align="right"
                      aria-label="{{ 'cart.label.total' | t }}"
                    >
                      <strong data-cart-total>
                        {{ cart.total_price | money_with_currency }}
                      </strong>
                    </td>
                  </tr>
                  {% if taxes_shipping_checkout -%}
                    <tr class="summary-row cart-taxes">
                      <td align="right" colspan="2"
                        aria-label="{{- 'cart.label.taxes' | t -}}"
                        class="font-bold"
                      >
                        {{- taxes_shipping_checkout -}}
                      </td>
                    </tr>
                  {%- endif %}
                </tbody>
              </table>
            </div>
          </div>
          <footer class="card-footer">
            <div class="cart-buttons">
              <div class="field grouped">
                <div class="control expanded">
                  <input type="submit" name="checkout"
                    class="btn is-primary cart-button"
                    value="{{ 'cart.general.checkout' | t }}"
                  >
                </div>
                {% unless cart_ajax_enabled -%}
                  <div class="control">
                    <input type="submit" name="update"
                      class="btn is-ghost cart-button"
                      value="{{ 'cart.general.update' | t }}"
                    >
                  </div>
                {%- endunless %}
              </div>
            </div>
    
            <div class="notification is-danger is-light cart-error-message hidden"
              data-cart-error-message-wrapper
              role="alert"
            >
              <span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
              <i class="material-icons-outlined">error</i>
              <span class="cart__error-message" data-cart-error-message></span>
            </div>
          </footer>
        </div>
      </div>
      
      <div class="column cart-items">
        <ul class="list cart-item-list" data-cart-line-items>
          {% for item in cart.items -%}
            {% render 'cart-item' with 
              item: item,
              line_number: forloop.index
            %}
          {%- endfor %}
        </ul>
      </div>

      <div class="column wide desktop:cols-5 fullhd:cols-4">
        <div class="cart-summary">
          {% if cart_notes_enabled -%}
            <div class="field">
              <label for="CartSpecialInstructions" class="label mobile:text-center">
                {{ 'cart.general.note' | t }}
              </label>
              <div class="control">
                <textarea name="note"
                  id="CartSpecialInstructions"
                  class="textarea"
                  data-cart-notes
                >
                  {{- cart.note -}}
                </textarea>
              </div>
            </div>
          {%- endif %}
  
          
          <div class="card shadowless cart-actions">
            <div class="card-content">
              <div class="table-container summary-table">
                <table class="table wide is-ghost">
                  <tbody class="cart-subtotal" 
                    {% unless has_cart_level_discount -%}hidden{%- endunless -%}
                  >
                    <tr class="summary-row cart-subtotal">
                      <th valign="middle" scope="row">{{- 'cart.label.subtotal' | t -}}</th>
                      <td align="right" data-cart-subtotal
                        aria-label="{{ 'cart.label.subtotal' | t }}"
                      >
                        {{ cart.original_total_price | money_with_currency }}
                      </td>
                    </tr>
                  </tbody>
                  <tbody class="cart-discounts" 
                    data-cart-discount-wrapper
                    {% unless has_cart_level_discount -%}hidden{%- endunless -%}
                  >
                    {% assign cartDiscounts = 'template ' | split: ' ' -%}
                    {%- if has_cart_level_discount -%}
                      {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
                    {%- endif -%}
  
                    {% for discount in cartDiscounts -%}
                    <tr class="summary-row cart-discount" data-cart-discount>
                      <th valign="middle" scope="row" class="font-normal">
                        <span class="tags normal has-addons" aria-label="{{ 'customer.order.discount' | t }}">
                          <span class="tag is-black">
                            <i class="icon sz-16 material-icons">sell</i>
                          </span>
                          <span class="tag is-black is-light text-caps">
                            {% if discount.value_type == 'percentage' %}
                              {%- assign amt = discount.value | round  -%}
                              {{- 'numbers.money.percent_off' | t: value: amt -}}
                            {%- else -%}
                              {%- assign amt = discount.value | money -%}
                              {{- 'numbers.money.value_off' | t: value: amt -}}
                            {% endif %}
                          </span>
                        </span>
                       <span data-cart-discount-title>{{ discount.title }}</span>
                      </th>
                      <td align="right" data-cart-discount-amount>
                        {%- assign amt = discount.total_allocated_amount | money -%}
                        {{- 'cart.label.discounted_value' | t: value: amt -}}
                      </td>
                    </tr>
                    {%- endfor %}
                  </tbody>
                  <tfoot>
                    <tr class="summary-row cart-total">
                      <th valign="middle" scope="row">{{- 'cart.label.total' | t -}}</th>
                      <td align="right" data-cart-total
                        aria-label="{{- 'cart.label.total' | t -}}"
                        class="font-bold"
                      >
                        {{- cart.total_price | money_with_currency -}}
                      </td>
                    </tr>
                    {% if taxes_shipping_checkout -%}
                      <tr class="summary-row cart-taxes">
                        <td align="right" colspan="2"
                          aria-label="{{- 'cart.label.taxes' | t -}}"
                          class="font-bold"
                        >
                          {{- taxes_shipping_checkout -}}
                        </td>
                      </tr>
                    {%- endif %}
                  </tfoot>
                </table>
              </div>
            </div>
            <footer class="card-footer">
              <div class="cart-buttons">
                <div class="field grouped">
                  <div class="control expanded">
                    <input type="submit" name="checkout"
                      class="btn is-primary full cart-button"
                      value="{{ 'cart.general.checkout' | t }}"
                    >
                  </div>
                  {% unless cart_ajax_enabled -%}
                    <div class="control">
                      <input type="submit" name="update"
                        class="btn is-ghost cart-button"
                        value="{{ 'cart.general.update' | t }}"
                      >
                    </div>
                  {%- endunless %}
                </div>
              </div>
        
              {% if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif %}
        
              <div class="notification is-error is-light cart-error-message"
                data-cart-error-message-wrapper
                aria-hidden="true"
                role="alert"
                hidden
              >
                <span class="sr-only">{{ 'general.accessibility.error' | t }} </span>
                <i class="icon material-icons-outlined">error</i>
                <span class="cart__error-message" data-cart-error-message></span>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </form>

    <p class="sr-only" data-cart-status aria-live="polite" role="status"></p>
  </div>
</div>



{% schema %}
{
  "name": "Cart Page",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Hero"
    },
    {
      "type": "color",
      "id": "hero_bg",
      "label": "Background color",
      "default": "#3a3a3a"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "hero_image_size",
      "label": "Image size",
      "default": "cover",
      "options": [
        {
        "value": "cover",
        "label": "Cover (default)"
        },
        {
        "value": "contain",
        "label": "Contain"
        },
        {
        "value": "auto",
        "label": "Auto"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_image_alignment",
      "label": "Background image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_bg_blend",
      "label": "Blend mode",
      "options": [
        {
        "value": "normal",
        "label": "Normal (default)"
        },
        {
        "value": "multiply",
        "label": "Multiply"
        },
        {
        "value": "screen",
        "label": "Screen"
        },
        {
        "value": "overlay",
        "label": "Overlay"
        },
        {
        "value": "darken",
        "label": "Darken"
        },
        {
        "value": "lighten",
        "label": "Lighten"
        },
        {
        "value": "color-dodge",
        "label": "Color-Dodge"
        },
        {
        "value": "color-burn",
        "label": "Color-Burn"
        },
        {
        "value": "hard-light",
        "label": "Hard-Light"
        },
        {
        "value": "soft-light",
        "label": "Soft-Light"
        },
        {
        "value": "difference",
        "label": "Difference"
        },
        {
        "value": "exclusion",
        "label": "Exclusion"
        },
        {
        "value": "hue",
        "label": "Hue"
        },
        {
        "value": "saturation",
        "label": "Saturation"
        },
        {
        "value": "color",
        "label": "Color"
        },
        {
        "value": "luminosity",
        "label": "Luminosity"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "hero_image_opacity",
      "label": "Image opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "Title Heading"
    },
    {
      "type": "color",
      "id": "hero_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "title_level",
      "label": "Heading Level",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "Heading Alignment",
      "default": "text-center",
      "options": [
        {
          "label": "Left",
          "value": "text-left"
        },
        {
          "label": "Centered (default)",
          "value": "text-center"
        },
        {
          "label": "Right",
          "value": "text-right"
        },
        {
          "label": "Justify",
          "value": "text-justify"
        }
      ]
    },
    {
      "type": "header",
      "content": "Empty Cart"
    },
    {
      "type": "image_picker",
      "id": "empty_image",
      "label": "Empty Cart Image"
    },
    {
      "type": "header",
      "content": "Cart Options"
    },
    {
      "type": "checkbox",
      "id": "cart_ajax_enable",
      "label": "Enable automatic cart updates",
      "info": "Updates the cart as soon as customer changes are made",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": "Enable cart notes",
      "default": false
    }
  ]
}
{% endschema %}
