{%- liquid 
  if id == blank
    assign id = "now" | date: "%N" | modulo: 25 | times: 6536
  endif

  assign show = text | strip | size
  assign global = global | default: false
  unless global or request.page_type == 'index'
    assign show = false
  endunless
  
  assign bg = bg | default: settings.announcement__bg
  assign bg_image = bg_image | default: settings.announcement__bg_image
  assign bg_size = bg_size | default: settings.announcement__bg_image_size
  assign bg_blend = bg_blend | default: settings.announcement__bg_image_blend
  assign bg_opacity = bg_opacity | default: settings.announcement__bg_image_opacity
  assign bg_alignment = bg_alignment | default: settings.announcement__bg_image_alignment
  
  capture bg_hover
    render 'adaptive-color' with color: bg, is_background_color: true
  endcapture

  capture color
    render 'contrasting-color' with color: bg
  endcapture

  capture color_hover
    render 'adaptive-color' with color: color
  endcapture

  assign contrast = color | brightness_difference: bg
  capture shadow_color
    if contrast <= 125
      render 'adaptive-color' with color: color
    else
      echo 'rgba(255,255,255,0)'
    endif
  endcapture
-%}

{% if show -%}
  {%- style %}
    #announcement-{{- id }} {
      --c-banner-bg: {{ bg -}};
      --c-banner-bg--hover: {{ bg_hover -}};
      --c-banner-text: {{ color -}};
      --c-banner-text--hover: {{ color_hover -}};
      --c-banner-shadow-color {{ shadow_color -}};
    }

    {% if bg_image -%}
      {%- assign opacity = bg_opacity | divided_by: 100.0 -%}
      #announcement-{{- id }} .announcement-bg {
          background-position: {{ bg_alignment -}};
          background-size: {{ bg_size -}};
          mix-blend-mode: {{ bg_blend -}};

          opacity: {{ opacity -}};
      }
    {%- endif %}
  {%- endstyle %}

  <aside id="announcement-{{- id -}}" class="announcement"
    aria-label="{{ 'sections.header.announcement_bar_label' | t }}"
    role="region"
  >
    {% if bg_image -%}
      <div class="announcement-bg overlay js-enabled lazyload {% unless lazy -%}lazypreload{%- endunless %}"
        data-bg="{{- bg_image | img_url: '16x9' -}}"
        data-bgset="{% render 'bgset', image: bg_image %}"
        data-sizes="auto"
        data-parent-fit="{{- hero_bg_size -}}"
        {% unless bg_image.alt == blank -%}
          aria-label="{{- bg_image.alt | escape -}}"
          role="img"
        {%- endunless %}
      ></div>
      <noscript>
        <div class="announcement-bg overlay"
          style="background-image: url('{{- bg_image | img_url: '1920x' -}}');"
          {% unless bg_image.alt == blank %}
            aria-label="{{- bg_image.alt | escape -}}"
            role="img"
          {% endunless %}
        ></div>
      </noscript>
    {%- endif %}

    {% unless link == blank -%}
      <a href="{{ link }}" class="link">
    {%- endunless %}
        <div class="prose">
          {{- text | replace: '&amp;', '&' -}}
        </div>
    {% unless link == blank -%}
      </a>
    {%- endunless %}
  </aside>
{%- endif %}