{%- comment -%}
  Accepts:
  - item: {Object} Cart Item object
  - line_number: {Number} The line number of the cart item

  Usage:
  {% render 'cart-item' with item: cart_item, line_number: forloop.index %}
{%- endcomment -%}

<li class="card shadowless radiusless cart-item"
  data-cart-item
  data-cart-item-key="{{ item.key }}"
  data-cart-item-url="{{ item.url }}"
  data-cart-item-title="{{ item.title }}"
  data-cart-item-index="{{ line_number }}"
  data-cart-item-quantity="{{ item.quantity }}"
>
  <div class="card-content cart-item-content">
    <figure class="cart-item-image">
      {%- if item.image != blank -%}
        {% render 'responsive-image' with 
          image: item.image,
          width: 240
        %}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </figure>

    <div class="cart-item-details">
      <div class="meta">
        <h4 class="title" data-cart-item-title>
          {{ item.product.title }}
        </h4>

        <p class="subtitle">
          <a href="/cart/change?line={{ line_number }}&amp;quantity=0"
            class="cart-item__remove"
            aria-label="{{ 'cart.label.remove' | t: name: item.title }}"
            data-cart-remove
          >
            {{ 'cart.general.remove' | t }}
          </a>
        </p>

        {%- assign variant_options = 'template ' | split: ' ' -%}
        {%- if item.product.has_only_default_variant != true -%}
          {%- assign variant_options = item.options_with_values -%}
        {%- endif -%}
        {%- assign property_size = item.properties | size -%}

        <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} hidden{% endif %}"
          aria-label="{{ 'cart.label.product_details' | t }}"
          data-cart-item-details
        >
          {%- for option in variant_options -%}
            <li class="product-detail product-detail--variant-option{% if item.product.has_only_default_variant %} hidden{% endif %}"
              data-cart-item-option
            >
              {{ option.name }}: {{ option.value }}
            </li>
          {%- endfor -%}

          {%- comment -%}
            Optional, loop through custom product line items if available

            Line item properties come in as having two parts. The first part will be passed with the default form,
            but p.last is the actual custom property and may be blank. If it is, don't show it.

            For more info on line item properties, visit:
              - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
          {%- endcomment -%}
          {%- assign properties = 'template ' | split: ' ' -%}
          {%- if property_size > 0 -%}
            {%- assign properties = item.properties -%}
          {%- endif -%}

          {%- for p in properties -%}
            {%- unless p.last == blank -%}
              <li class="product-detail product-detail--property{%if property_size == 0%} hidden{% endif %}"
                data-cart-item-property
              >
                <span class="product-details__item-label" 
                  data-cart-item-property-name
                >
                  {{ p.first }}: 
                </span>

                {%- comment -%}
                  Check if there was an uploaded file associated
                {%- endcomment -%}
                <span data-cart-item-property-value>
                  {%- if p.last contains '/uploads/' -%}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {%- else -%}
                    {{ p.last }}
                  {%- endif -%}
                </span>
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>

    <div class="cart-item-price">
      {% liquid
        if item.original_price != item.final_price
          assign item_discounted = true
        endif
      -%}

      <div class="item-price" data-cart-item-price>
        <dl data-cart-item-price-list>
          {% comment -%}Markup template for discount item{%- endcomment -%}
          <div data-cart-item-discounted-price-group
            {% unless item_discounted -%}hidden{%- endunless -%}
          >
            <dt class="sr-only">{{- 'products.product.sale_price' | t -}}</dt>
            <dd class="item-discount font-bold" data-cart-item-final-price>
              {{- item.final_price | money -}}
            </dd>
            <dt class="sr-only">{{- 'products.product.regular_price' | t -}}</dt>
            <dd data-cart-item-original-price>
              {%- assign original_price = item.original_price | money -%}
              {{- 'products.product.value_price' | t: value: original_price -}}
            </dd>
          </div>

          {% comment -%}Markup template for regular price item{%- endcomment -%}
          <div data-cart-item-regular-price-group
            {% if item_discounted -%}hidden{%- endif -%}
          >
            <dt class="sr-only">{{- 'products.product.regular_price' | t -}}</dt>
            <dd data-cart-item-regular-price>{{- item.original_price | money -}}</dd>
          </div>

          {% comment -%}Markup template for unit price{%- endcomment -%}
          <div data-unit-price-group
            {% unless item.unit_price_measurement -%}hidden{%- endunless -%}
          >
            <dt class="sr-only">{{- 'products.product.unit_price_label' | t -}}</dt>
            <dd class="price-unit-price">
              {% liquid 
                assign unit_base_unit = item.unit_price_measurement.reference_unit
                if item.unit_price_measurement.reference_value != 1
                 assign unit_base_unit = unit_base_unit | append : item.unit_price_measurement.reference_value
                endif
              -%}
              <span data-unit-price>{{- item.unit_price | money -}}</span>
              <span aria-label="{{- 'products.product.unit_price_separator' | t -}}">/</span>
              <span data-unit-price-base-unit>{{- unit_base_unit -}}</span>
            </dd>
          </div>
        </dl>
      </div>

      {% liquid
        assign item_discounts = 'template ' | split: ' '
        if item.line_level_discount_allocations != blank
          assign item_discounts = item.line_level_discount_allocations
          assign item_line_discount = true
        endif
      -%}

      <ul class="list item-discounts {% unless item_line_discount -%}hidden{%- endunless -%}"
        {% unless item_line_discount -%}hidden{%- endunless %}
        data-cart-item-discount-list
        aria-label="{{- 'customer.order.discount' | t -}}"
      >
        {% for discount in item_discounts -%}
          <li class="item-discount"
            data-cart-item-discount
            aria-label="{{ 'customer.order.discount' | t }}"
          >
            <span class="tags normal has-addons">
              <span class="tag is-black">
                <i class="icon sz-16 material-icons">sell</i>
              </span>
              <span class="tag is-black is-light text-caps"
                data-cart-item-discount-amount
              >
                {% if discount.value_type == 'percentage' %}
                  {%- assign amt = discount.value | round  -%}
                  {{- 'numbers.money.percent_off' | t: value: amt -}}
                {%- else -%}
                  {%- assign amt = discount.value | money -%}
                  {{- 'numbers.money.value_off' | t: value: amt -}}
                {% endif %}
                {{- discount.discount_application.title -}}
              </span>
            </span>
            <span data-cart-item-discount-title>{{- discount.title -}}</span>
          </li>
        {%- endfor %}
      </ul>

      <div class="field">
        <label for="updates_{{ item.key }}" class="sr-only" data-quantity-label>
          {{ 'cart.label.quantity' | t }}
        </label>
        <div class="control has-icons-right has-icons-left">
          <input type="number" name="updates[]"
            value="{{- item.quantity -}}"
            pattern="[0-9]*"
            min="1"
            id="updates_{ item.key }}"
            class="input input--quantity"
            data-quantity-input
            data-quantity-item="{{ line_number }}"
          >
          <button type="button" class="btn is-ghost icon is-left js-enabled" 
            data-quantity-item="{{ line_number }}"
            data-quantity-decrement
            data-quantity-button
          >
            <i class="material-icons-outlined">remove</i>
          </button>
          <button type="button" class="btn is-ghost icon is-right js-enabled"
            data-quantity-item="{{ line_number }}"
            data-quantity-increment
            data-quantity-button
          >
            <i class="material-icons-outlined">add</i>
          </button>
        </div>

        <div class="help cart__qty-error-message-wrapper hidden" role="alert" data-cart-quantity-error-message-wrapper>
          <span class="sr-only">{{ 'general.accessibility.error' | t }}</span>
          <i class="icon material-icons-outlined">error</i>
          <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
        </div>
      </div>
    </div>
  </div>

  <footer class="card-footer cart-item-footer">
    <span class="text-caps">{{- 'cart.label.product_total' | t -}}&nbsp;</span>
    <div class="cart-item-final-price" data-cart-item-line-price>

      {% comment -%}Markup template for discount item{%- endcomment -%}
      {%- if item.original_line_price != item.final_line_price -%}
        {%- assign item_on_sale = true -%}
      {%- endif -%}
      <dl class="list row {% unless item_on_sale -%}hidden{%- endunless -%}"
        data-cart-item-discounted-price-group
        {% unless item_on_sale -%}hidden{%- endunless -%}
      >
        <dt class="sr-only">
          {{- 'cart.label.discounted_total' | t -}}
        </dt>
        <dd class="order-discount font-bold" data-cart-item-final-price>
          {{- item.final_line_price | money -}}
        </dd>
        <dt class="sr-only">
          {{- 'cart.label.regular_total' | t -}}
        </dt>
        <dd data-cart-item-original-price>
          {%- assign original_price = item.original_line_price | money -%}
          {{- 'products.product.value_price' | t: value: original_price -}}
        </dd>
      </dl>

      {% comment -%}Markup template for regular price item{%- endcomment -%}
      <div data-cart-item-regular-price-group {% if item_on_sale -%}hidden{%- endif -%}>
        <strong data-cart-item-regular-price>
          {{ item.original_line_price | money }}
        </strong>
      </div>
    </div>
  </footer>
</li>