{%- comment -%}
  Accepts:
  - item: {Object} Cart Item object
  - line_number: {Number} The line number of the Cart Item

  Usage:
  {% render 'cart-item' with item: cart_item, line_number: forloop.index %}
{%- endcomment -%}

<li class="cart-item"
  data-cart-item
  data-cart-item-key="{{ item.key }}"
  data-cart-item-url="{{ item.url }}"
  data-cart-item-title="{{ item.title }}"
  data-cart-item-index="{{ line_number }}"
  data-cart-item-quantity="{{ item.quantity }}"
>
  <div class="cart-item__content">
    <figure class="cart-item__image">
      {%- if item.image != blank -%}
        {% render 'responsive-image' with 
          image: item.image,
          width: 240
        %}
      {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </figure>

    <div class="cart-item__details">
      <div class="cart-item__meta">
        <h3 class="cart-item__title" data-cart-item-title>
          {{ item.product.title }}
        </h3>

        <p class="subtitle is-size-7">
          <a href="/cart/change?line={{ line_number }}&amp;quantity=0"
            class="cart-item__remove"
            aria-label="{{ 'cart.label.remove' | t: product: item.title }}"
            data-cart-remove
          >
            {{ 'cart.general.remove' | t }}
          </a>
        </p>

        {%- assign variant_options = 'template ' | split: ' ' -%}
        {%- if item.product.has_only_default_variant != true -%}
          {%- assign variant_options = item.options_with_values -%}
        {%- endif -%}
        {%- assign property_size = item.properties | size -%}

        <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} hidden{% endif %}"
          aria-label="{{ 'cart.label.product_details' | t }}"
          data-cart-item-details
        >
          {%- for option in variant_options -%}
            <li class="product-detail product-detail--variant-option{% if item.product.has_only_default_variant %} hidden{% endif %}"
              data-cart-item-option
            >
              {{ option.name }}: {{ option.value }}
            </li>
          {%- endfor -%}

          {%- comment -%}
            Optional, loop through custom product line items if available

            Line item properties come in as having two parts. The first part will be passed with the default form,
            but p.last is the actual custom property and may be blank. If it is, don't show it.

            For more info on line item properties, visit:
              - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
          {%- endcomment -%}
          {%- assign properties = 'template ' | split: ' ' -%}
          {%- if property_size > 0 -%}
            {%- assign properties = item.properties -%}
          {%- endif -%}

          {%- for p in properties -%}
            {%- unless p.last == blank -%}
              <li class="product-detail product-detail--property{%if property_size == 0%} hidden{% endif %}"
                data-cart-item-property
              >
                <span class="product-details__item-label" 
                  data-cart-item-property-name
                >
                  {{ p.first }}: 
                </span>

                {%- comment -%}
                  Check if there was an uploaded file associated
                {%- endcomment -%}
                <span data-cart-item-property-value>
                  {%- if p.last contains '/uploads/' -%}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {%- else -%}
                    {{ p.last }}
                  {%- endif -%}
                </span>
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>

      <div class="cart-item__price">
        {%- assign hasDiscount = false -%}
        {%- if item.original_price != item.final_price -%}
          {%- assign hasDiscount = true -%}
        {%- endif -%}

        <div data-cart-item-price>
          <dl data-cart-item-price-list>
            {%- comment -%}
              Markup template for discount item
            {%- endcomment -%}
            <div class="{% unless hasDiscount %}hidden{% endunless %}"
              data-cart-item-discounted-price-group
            >
              <dt><span class="sr-only">{{ 'products.product.sale_price' | t }}</span></dt>
              <dd><strong class="order-discount" data-cart-item-final-price>{{ item.final_price | money }}</strong></dd>
              <dt><span class="sr-only">{{ 'products.product.regular_price' | t }}</span></dt>
              <dd class="fine-print">(<span data-cart-item-original-price>{{ item.original_price | money }}</span> {{ 'products.product.value' | t }})</dd>
            </div>

            {%- comment -%}
              Markup template for regular price item
            {%- endcomment -%}
            <div class="{% if hasDiscount %}hidden{% endif %}" data-cart-item-regular-price-group>
              <dt><span class="sr-only">{{ 'products.product.regular_price' | t }}</span></dt>
              <dd><strong data-cart-item-regular-price>{{ item.original_price | money }}</strong></dd>
            </div>

            {%- comment -%}
              Markup template for unit price
            {%- endcomment -%}
            <div {% unless item.unit_price_measurement -%}class="hidden"{%- endunless %}data-unit-price-group>
              <dt>
                <span class="sr-only">{{ 'products.product.unit_price_label' | t }}</span>
              </dt>
              <dd>
                <span class="price-unit-price">
                  {%- capture unit_price_separator -%}
                    <span aria-hidden="true">/</span><span class="sr-only">{{ 'products.product.unit_price_separator' | t }}&nbsp;</span>
                  {%- endcapture -%}
                  {%- capture unit_price_base_unit -%}
                    {%- if item.unit_price_measurement.reference_value != 1 -%}
                      {{- item.unit_price_measurement.reference_value -}}
                    {%- endif -%}
                    {{ item.unit_price_measurement.reference_unit }}
                  {%- endcapture -%}

                  <span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}<span data-unit-price-base-unit>{{- unit_price_base_unit -}}</span>
                </span>
              </dd>
            </div>
          </dl>
        </div>

        {%- assign itemDiscounts = 'template ' | split: ' ' -%}
        {%- if item.line_level_discount_allocations != blank -%}
          {%- assign itemDiscounts = item.line_level_discount_allocations -%}
        {%- endif -%}

        <ul class="list list--spaced item-discounts item-discounts--cart{% if item.line_level_discount_allocations == blank %} hidden{% endif %}" 
          aria-label="{{ 'customer.order.discount' | t }}"
          data-cart-item-discount-list
        >
          {%- for discount in itemDiscounts -%}
            <li class="item-discount" data-cart-item-discount>
              <span class="tag is-dark item-discount__title">
                <i class="material-icons-outlined">sell</i>
                <span data-cart-item-discount-title>
                  {{- discount.discount_application.title -}}
                </span>
              </span>
              (-<span class="item-discount__value" data-cart-item-discount-amount>{{ discount.amount | money }}</span>)
            </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="cart-item__quantity">
        <label for="updates_{{ item.key }}" class="sr-only" data-quantity-label>
          {{ 'cart.label.quantity' | t }}
        </label>
        <div class="control js">
          <button type="button" class="button" 
            data-quantity-button
            data-quantity-decrement
            data-quantity-item="{{ line_number }}"
          >
            <i class="material-icons-outlined">remove</i>
          </button>
        </div>
        <div class="control">
          <input type="number"
            name="updates[]"
            id="updates_{ item.key }}"
            class="input input--quantity"
            value="{{- item.quantity -}}"
            pattern="[0-9]*"
            min="1"
            data-quantity-input
            data-quantity-item="{{ line_number }}"
          >
        </div>
        <div class="control js">
          <button type="button" class="button"
            data-quantity-button
            data-quantity-increment
            data-quantity-item="{{ line_number }}"
          >
            <i class="material-icons-outlined">add</i>
          </button>
        </div>

        <div class="help cart__qty-error-message-wrapper desktop:hidden" role="alert" data-cart-quantity-error-message-wrapper>
          <span class="sr-only">{{ 'general.accessibility.error' | t }}</span>
          <i class="material-icons-outlined">error</i>
          <span class="cart__qty-error-message" data-cart-quantity-error-message></span>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-item__footer">
    <span class="cart-item__final-price-label">{{ 'cart.label.product_total' | t }}&nbsp;</span>
    <div class="cart-item__final-price" data-cart-item-line-price>
      {%- comment -%}
        Markup template for discount item
      {%- endcomment -%}
      <dl {% unless item.original_line_price != item.final_line_price -%}class="hidden"{% endunless %}
        data-cart-item-discounted-price-group
      >
        <dt><span class="sr-only">{{ 'cart.label.discounted_total' | t }}</span></dt>
        <dd><strong class="order-discount" data-cart-item-final-price>{{ item.final_line_price | money }}</strong></dd>
        <dt><span class="sr-only">{{ 'cart.label.regular_total' | t }}</span></dt>
        <dd class="fine-print">(<span data-cart-item-original-price>{{ item.original_line_price | money }}</span> {{ 'products.product.value' | t }})</dd>
      </dl >

      {%- comment -%}
        Markup template for regular price item
      {%- endcomment -%}
      <div {% if item.original_line_price != item.final_line_price -%}class="hidden"{%- endif %}
        data-cart-item-regular-price-group
      >
        <strong data-cart-item-regular-price>{{ item.original_line_price | money }}</strong>
      </div>
    </div>
  </div>
</li>